body{
    background-color: #121417;
}    
li {
    list-style: none;
}
.navbar-costum{
    background-color: #262B32;
}
.nav-link{
    color: #A6A3A3;
    font-family: perpetua;
    font-size: 1.7em;
}
.navbar-brand{
    color: #A6A3A3;
    font-family: perpetua;
    font-size: 1.7em;
}
.navbar-brand{
    margin-left: 4.3em;
}
.nav-link{
    margin-right: 1.5em;
    margin-left: 1.5em;
}
#navbarSupportedContent{
    justify-content: center;
    margin-right: 2.2em;
}
#h1mainTitle{
    width: 475px;
    height: 135px;
    background-color: #000000;
    color: #A9A5A5;
    font-size: 3.6em;
    font-family: perpetua;
    text-align: center;
    padding-top: 0.54em ;
    margin-top: 1.3em;
    border: solid 0.4px #707070;
}
.presentation{
    width: 727px;
    height: 332px;
    background-color: #A1A2A7;
    font-family: perpetua;
    color: #3C3B3B;
    text-align: center;
    margin-top: 5.6em;
}
#h2Presentation{
    font-size: 3.27em;
}
.presentationText{
    font-size: 1.5em;
    margin-bottom: 0.6em;
}
#textLinkPresentation{
    width: 505px;
    height: 135px;
    background-color: #262B32;
    color: #A9A5A5;
    font-family: perpetua;
    font-size: 1.7em;
    text-align: center;
    padding-top: 1em;

    margin-top: 2.2em;
    border-radius: 1em;
    border: solid 0.4px #707070;
}
.blocTextLink{
    margin-bottom: 5em;
}
 .blocCollection, .blocArticles, .blocMusiciens, .blocPlaylists{
    width: 9.1em;
    height: 5.9em;
    background-color: #A1A2A7;
    font-family: perpetua;
    padding-top: 2.1em;
}
.blocCulture{
    width: 10.6em;
    height: 5.9em;
    background-color: #A1A2A7;
    font-family: perpetua;
    margin-bottom: 2.7em;
    padding-top: 2em;
}
@media screen and (max-width: 576px){
    #h1mainTitle{
        background-color: #A1A2A7;
        color: #3C3B3B;
        border: solid 1px #3C3B3B;
        font-size: 2.9em;
        padding-top: 0.7em;
        width: 7.8em;
        height: 2.6em;
        margin-bottom: -0.3em;
    }
    .presentation{
        width: 361px;
        height: 345px;
    }
    #h2Presentation{
        font-size: 2.4em;
        padding-bottom: 0.2em;
    }
    .presentationText{
        font-size: 1.2em;
        padding-left: 1em;
        padding-right: 1em;
        margin-bottom: 0.8em;
    }

    #textLinkPresentation{
        width: 505px;
        height: 90px;
        font-size: 1.3em;
        padding-top: 0.6em;
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 2.2em;
        border-radius: 1.7em;}
    
    .blocTextLink{
        margin-bottom: 4.0em;
        margin-top: 1.4em;
    }

    .blocCollection, .blocArticles, .blocMusiciens, .blocPlaylists, .blocCulture{
        font-size: 2.6em;
        margin-bottom: 1.15em;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    .blocCulture{
        width: 9.1em;
    }
}


@media screen and (min-width: 576px){
    .presentation{
        margin-top: 4em;
        width: 500px;
        height: 360px;
        margin-bottom: 1em;
    }
    #h2Presentation{
        font-size: 2.8em;
        padding-bottom: 0.2em;
    }
    .presentationText{
        font-size: 1.3em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0.8em;
    }

    .blocCollection, .blocArticles, .blocMusiciens, .blocPlaylists, .blocCulture{
        font-size: 3em;
        margin-bottom: 2.2em;
    }
    .blocCulture{
        width: 9.1em;
    }
}
@media screen and (min-width: 900px){
    .presentation{
        width: 650px;
    }
    #h2Presentation{
        font-size: 2.8em;
        padding-bottom: 0.4em;
    }
    .blocCollection, .blocArticles, .blocMusiciens, .blocPlaylists, .blocCulture{
        font-size: 3.5em;
        margin-bottom: 2.1em;
    }
    .blocCulture{
        width: 9.1em;
    }
}

@media screen and (min-width: 1200px){
    .blocCollection, .blocArticles, .blocMusiciens, .blocPlaylists, .blocCulture{
        font-size: 3.5em;
        margin-bottom: 2.6em;
    }
    .blocCollection, .blocMusiciens{
        margin-left: 0.8em;
    }
    .blocPlaylists, .blocArticles{
        margin-right: 0.8em;
    }
}

.blocCategoryText {
    text-decoration: none;
    color: #3C3B3B;
}

